@tailwind base;
@tailwind components;
@tailwind utilities;

/* 👇 ЭТОТ БЛОК ИСПРАВЛЯЕТ ПРОБЛЕМУ */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Чтобы не было двойных скроллов */
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

body {
  @apply bg-[#050505] text-slate-200;
}